body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.public-container {
  height: 100vh;
  background-image: url("./shared/assets/images/mountain_background.png");
  background-size: cover;
}

.primary-btn:focus,
.primary-btn:hover,
.primary-btn:active {
  color: white;
  border-color: white;
}

.app-logo {
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
}

.app-logo img {
  width: 100px;
}

.site-layout .site-layout-background {
  background: #fff;
  margin: 40px 15px;
  padding: 24px;
  min-height: 280px;
}

.export-btn {
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}
